{% extends 'master.twig' %}

{% set title = 'Wellcome to Slim BoilerPlate' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="text-center">

        <p>{{ text }}</p>

    </div>

{% endblock %}